<div data-ng-controller="scoreController as scoreCtrl">
    <div><h4>{{winText}}</h4>
        <br>
        <div class="col-md-6 col-md-offset-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>Your Wins</th>
                        <th>Ties</th>
                        <th>Robot Wins</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{yourWins}}</td>
                        <td>{{ties}}</td>
                        <td>{{robotWins}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>